table,tr,th{
  border: 2px solid;
}
td{
    border:1px solid;
}
a {
  text-decoration: none;
}
* {
font:sans-serif;
    box-sizing:border-box;
}
.navbar{
    background: #B3B3B3;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    position:sticky;
   }
   .navbar__container{
    display:flex;
    justify-content:space-between;
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding:0 50px;
   }
   .navbar__links{
    color:#111111;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 120px;
    height: 100%;
    border: 1px solid gray;
   }
th{
background: #CCCCCC;
display: flex;

}
